.header{
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-image: url("img/back1.jpg");
  background-position: center;
  background-size: cover;
  height: 100px
}

.nav-tabs{
  font-size: 20px;

}
.tab-pane{
  font-size: 16px;
  margin-right: 0px;
  margin-top: 45px;
}

.card{
  width: 150rem;
}

.heading{
  color: #0A1EFF;
}
